.DS_Store
*.o
computational_geometry/*.exe
computational_geometry/ComputationalGeometry/.vs

computational_geometry/ComputationalGeometry/CMakeCache.txt
computational_geometry/ComputationalGeometry/CMakeFiles/
computational_geometry/ComputationalGeometry/cmake_install.cmake

computational_geometry/ComputationalGeometry/Computat.*
computational_geometry/ComputationalGeometry/ComputationalGeometry.dir/
computational_geometry/ComputationalGeometry/Debug
computational_geometry/ComputationalGeometry/freeglut/bin
computational_geometry/ComputationalGeometry/freeglut/include
computational_geometry/ComputationalGeometry/freeglut/lib
computational_geometry/ComputationalGeometry/freeglut/Copying.txt
computational_geometry/ComputationalGeometry/freeglut/Readme.txt
computational_geometry/ComputationalGeometry/opencv
computational_geometry/ComputationalGeometry/Release
computational_geometry/ComputationalGeometry/RelWithDebugInfo
computational_geometry/ComputationalGeometry/x64

*__pycache__
DjangoService/computationalBiology/migrations*
DjangoService/db.sqlite3

computational_biology/.vs
computational_biology/ALL_BUILD.vcxproj
computational_biology/ALL_BUILD.vcxproj.filters
computational_biology/CMakeCache.txt
computational_biology/CMakeFiles
computational_biology/ComputationalBiology.dir
computational_biology/ComputationalBiology.sln
computational_biology/ComputationalBiology.vcxproj
computational_biology/ComputationalBiology.vcxproj.filters
computational_biology/ComputationalBiology.vcxproj.user
computational_biology/cmake_install.cmake
computational_biology/Debug
computational_biology/Release

image_output/*.png
video_output/*.avi
