.DS_Store
*.o
computational_geometry/*.exe
computational_geometry/ComputationalGeometry/.vs
computational_geometry/latex

computational_geometry/ComputationalGeometry/CMakeCache.txt
computational_geometry/ComputationalGeometry/CMakeFiles/
computational_geometry/ComputationalGeometry/cmake_install.cmake

computational_geometry/ComputationalGeometry/Computat.*
computational_geometry/ComputationalGeometry/ComputationalGeometry.dir/
computational_geometry/ComputationalGeometry/Debug
computational_geometry/ComputationalGeometry/freeglut/bin
computational_geometry/ComputationalGeometry/freeglut/include
computational_geometry/ComputationalGeometry/freeglut/lib
computational_geometry/ComputationalGeometry/freeglut/Copying.txt
computational_geometry/ComputationalGeometry/freeglut/Readme.txt
computational_geometry/ComputationalGeometry/opencv
computational_geometry/ComputationalGeometry/Release
computational_geometry/ComputationalGeometry/RelWithDebInfo
computational_geometry/ComputationalGeometry/RelWithDebugInfo
computational_geometry/ComputationalGeometry/x64

*__pycache__
DjangoService/computationalBiology/migrations*
DjangoService/db.sqlite3

computational_biology/.vs
computational_biology/ALL_BUILD.vcxproj
computational_biology/ALL_BUILD.vcxproj.filters
computational_biology/CMakeCache.txt
computational_biology/CMakeFiles
computational_biology/ComputationalBiology.dir
computational_biology/ComputationalBiology.sln
computational_biology/ComputationalBiology.vcxproj
computational_biology/ComputationalBiology.vcxproj.filters
computational_biology/ComputationalBiology.vcxproj.user
computational_biology/cmake_install.cmake
computational_biology/Debug
computational_biology/Release

image_output/*.png
video_output/*.avi

function_calculator/*.exe
function_calculator/FunctionCalculator/.vs
function_calculator/latex

function_calculator/FunctionCalculator/CMakeCache.txt
function_calculator/FunctionCalculator/CMakeFiles/
function_calculator/FunctionCalculator/cmake_install.cmake
function_calculator/FunctionCalculator/Function.*
function_calculator/FunctionCalculator/FunctionCalculator.dir/
function_calculator/FunctionCalculator/Debug
function_calculator/FunctionCalculator/Release
function_calculator/FunctionCalculator/RelWithDebInfo
function_calculator/FunctionCalculator/RelWithDebugInfo
function_calculator/FunctionCalculator/x64

function_calculator/FunctionCalculator/dodecahedron.obj

function_calculator_cs/.vs
function_calculator_cs/bin/Debug
function_calculator_cs/bin/Release/net8.0-windows/function_calculator_cs.pdb
function_calculator_cs/obj

graphing_math/*.exe
graphing_math/GraphingMath/.vs
graphing_math/GraphingMath/Debug
graphing_math/GraphingMath/MinSizeRel
graphing_math/GraphingMath/Release
graphing_math/GraphingMath/RelWithDebInfo
graphing_math/GraphingMath/GraphingMath.dir
graphing_math/latex/

graphing_math/GraphingMath/CMakeCache.txt
graphing_math/GraphingMath/CMakeFiles/
graphing_math/GraphingMath/cmake_install.cmake

graphing_math/GraphingMath/freeglut

mesh_renderer/*.exe
mesh_renderer/MeshRenderer/.vs
mesh_renderer/latex/
mesh_renderer/obj/*Out.obj

mesh_renderer/MeshRenderer/CMakeCache.txt
mesh_renderer/MeshRenderer/CMakeFiles/
mesh_renderer/MeshRenderer/cmake_install.cmake

mesh_renderer/MeshRenderer/MeshRend.*
mesh_renderer/MeshRenderer/MeshRenderer.dir/
mesh_renderer/MeshRenderer/Debug
mesh_renderer/MeshRenderer/freeglut/bin
mesh_renderer/MeshRenderer/freeglut/include
mesh_renderer/MeshRenderer/freeglut/lib
mesh_renderer/MeshRenderer/freeglut/Copying.txt
mesh_renderer/MeshRenderer/freeglut/Readme.txt
mesh_renderer/MeshRenderer/glew*
mesh_renderer/MeshRenderer/opencv
mesh_renderer/MeshRenderer/Release
mesh_renderer/MeshRenderer/RelWithDebInfo
mesh_renderer/MeshRenderer/RelWithDebugInfo
mesh_renderer/MeshRenderer/x64
